Tests: exercise
Depends: busybox-static,
         cloud-image-utils,
         debootstrap,
         dirmngr,
         distro-info,
         lxcfs,
         uidmap,
         xz-utils,
         @
Restrictions: needs-root allow-stderr
